---
---
// global
a.no-decoration {
  text-decoration: none;
}

@keyframes beat-color {
  0% {
    text-shadow: 0 0 60px rgb(253, 253, 203), 0 0 30px rgb(206, 206, 118), 0 0 6px rgb(177, 177, 75);
    color: rgb(253, 253, 203);
  }
  50% {
    text-shadow: 0 0 60px rgb(170, 170, 78), 0 0 30px rgb(143, 143, 42), 0 0 6px rgb(119, 119, 22);
    color: rgb(202, 202, 120);
  }
  100% {
    text-shadow: 0 0 60px rgb(0, 0, 0), 0 0 30px rgb(26, 26, 4), 0 0 6px rgb(46, 46, 25);
    color: black;
  }
}

// ----------------
// Home
html, body {
  height: 100%;
  line-height: 1.7;
}

canvas {
  transition: opacity 0.8s ease-in;
  &.hide {
    opacity: 0;
  }
}

#home-root {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    z-index: 1;
    background: transparent;

    h1 {
      font-size: 4rem;
      padding: 0.5rem 1rem;
      background-color: #48a9c5;  
      opacity: 0.9;
      transform: translate(0, -100%);
      transition: none;
    }

    .hint {
      position: absolute;
      left: 50%;
      bottom: 15%;
      transform: translate(-50%);

      font-size: 2rem;
      letter-spacing: 0.25em;
      text-shadow: 0 0 60px rgb(250, 250, 169), 0 0 30px rgb(206, 206, 106), 0 0 6px rgb(148, 148, 81);
      color: rgb(250, 250, 169);
      animation: beat-color linear 1.5s infinite alternate;
    }
  }
}

// ---------------------------

// Blog

#nav-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  color: black;

  #nav-home {
    color: rgb(71, 62, 62);
    font-size: 1.5rem;
  }

  #nav-blog {
    margin-left: auto;
    margin-right: 2.5rem;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }

  #nav-blog.inverse {
    color: black;
  }

  #avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid white;
  }
}

header {
  .container {
    background-image: url("/assets/img/header.JPG");
    background-size: cover;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    h1 {
      margin: 0;
      font-size: 4rem;
    }
  }
}

@media (min-width: 768px) {
  main.container {
    max-width: 768px;

  }
}

main.container {
  margin: 2rem auto 0;
  padding: 0 1rem;

  &#blog-main {
    display: flex;
    flex-wrap: wrap-reverse;
    max-width: 992px;
  }
  
  section {
    flex-basis: 70%;
    flex-grow: 4;
    min-width: 0;
    ul {
      list-style: none;
      padding: 0;

      li {
        padding: 1rem;
        margin-bottom: 2rem;
        box-shadow: 0 0.5px 1px 0.01px rgba(0, 0, 0, 0.5);
        
        h2 {
          margin-bottom: 0.5rem;
          color: black;
        }


        .subtitle {
          margin: 0;
          color: rgb(66, 61, 61);
        }

        p {
          color: rgb(139, 134, 134);
        }
      }
    }

    .pagination {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a.pagination-btn {
        display: block;
        border: solid 2px black;
        border-radius: 4px;
        color: black;
        padding: 0.25rem 0.5rem;
      }

      span.unavailable {
        display: block;
        color: rgb(192, 192, 192);
      }
    }
  }

  aside {
    flex-basis: 20%;
    @media (max-width: 768px) {
      flex-basis: 40%;
      margin-left: 0;
    }
    flex-grow: 1;
    min-width: 0;
    margin-left: 2rem;

    .tags {
      display: flex;
      flex-wrap: wrap;

      .tag {
        &:hover {
          border: 1px solid rgb(137, 175, 201);
        }
        word-break: break-all;
        margin-top: 0.25rem;
        margin-left: 0.25rem;
        padding: 0.25rem;
        border: 1px solid rgb(195, 225, 245);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        * {
          word-break: break-all;
        }
        .count {
          border-radius: 50%;
          padding: 0.1rem;
          margin-left: 1rem;
        }
      }
    }
  }

  &#post-main {
    margin-top: 6rem;
  }

  article {
    img {
      max-width: 100%;
    }

    hr {
      border-width: 0;
      margin: 2rem 0;
      font-size: 1.5rem;
      letter-spacing: 1em;
      line-height: 1.4;
      overflow: visible;
      text-align: center;
      height: 0;

      &::before {
        content: '...';
        display: block;
        position: relative;
        top: -1rem;
        color: rgba(0, 0, 0, 0.66);
      }
    }
    blockquote {
      margin-left: -1rem;
      padding: 0 1rem;
      border-left: 4px solid;

      p {
        white-space: pre-wrap;
        margin: 0;
      }
    }

    a {
      color: black;

    }

    ul, ol {
      padding: 0;

      li {
        margin-left: 2rem;
        margin-bottom: 1rem;
      }
    }


    pre.highlight {
      background-color: rgba(0, 0, 0, 0.05);
      padding: 1rem;
      white-space: pre-wrap;
    }

    code.highlighter-rouge {
      word-break: keep-all;
      white-space: nowrap;
      margin: 0 0.25rem;
      padding: 0.25rem 0.5rem;
      font-size: 90%;
      color: #c7254e;
      background-color: #f9f2f4;
      border-radius: 4px;
    }
  }
}

.table-bordered {
  border: solid 1px;
  border-collapse: collapse;

  td, th {
    padding: 0.5rem;
    border: solid 1px;
  }
}

.container.notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding-top: 8rem;
  flex-grow: 1;
}

// ------------------------------
// footer
footer {
  display: flex;
  padding: 3rem 2rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: rgb(151, 151, 151)
}

.center {
  display: block;
  margin: 0 auto;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.width80p {
  width: 70%;
}

.img-caption {
  margin-top: -1rem;
  padding: 0 1rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
}